MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=skylarkflight
PORT=3001
CESIUM_ION_TOKEN=your_cesium_ion_token
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token
ARCGIS_API_KEY=your_arcgis_api_key_optional
